.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;

    .logo img {
        height: 34px;
        margin: 10px 20px 0 0;

    }

    .links {
        display: flex;
        a {
            margin-right: 5px;
            padding: 10px;
            position: relative;
        }

    .nav-active {
        &::after {
            content: '';
            width: 85%;
            height: 5px;
            background: $color-1;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

}